/* STYLE RESET  /  BROWSER DEFAULTS */
html,body ,div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}


/* BASE */
body
{

    background-color: black;
    color: white;

    font-family: Urbanist;

    height: 100vh;
    padding:0;
    margin:0;

}


/* ID's */
#dynamicAge
{
 
    display: inline;

}


/* MAIN */
.main-container
{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    
}

h1
{
    
    margin: 0 0 1.75rem 0;

    width: 100%;

    font-size: 12vh;
    font-weight: 600;
    text-align: center;

}

h2
{

    margin: 1.75rem 0 1.75rem 0;

    width: 100%;

    font-size: 3.5vh;
    font-weight: 400;
    text-align: center;

}


/* SOCIALS */
.socials-container
{

    margin: 1.75rem 0 0 0;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    width: 75%;

}

.socials-item
{

    width: 50px;
    height: 50px;

}

.socials-item:hover
{

    filter: invert(0.3);

}